<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Days Off Submitted</title>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/nav-stylesheet.css">
	<link rel="stylesheet" href="/stylesheets/timesheet-submitted.css">
	<link rel="stylesheet" href="/stylesheets/footer-stylesheet.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>

<body class="timesheet-page">
	<div th:replace="~{common/nav :: nav}"></div>
	<div class="page-content">
		<h1>Submitted Days Off</h1>
		<label>
			Filter by status:
			<input type="text" id="globalFilter" placeholder="Type to filter status…">
		</label>
		<table id="timesheetTable">
			<thead>
				<tr class="filter-row">
					<th><input type="text" placeholder="Filter ID"></th>
					<th><input type="text" placeholder="Filter Date"></th>
					<th><input type="text" placeholder="Filter Status"></th>
					<th><input type="text" placeholder="Filter Consumption"></th>
				</tr>
				<tr class="header-row">
					<th>ID</th>
					<th>Day</th>
					<th>Status</th>
					<th>Is consumed</th>
					<th></th>
				</tr>
			</thead>
			<tbody th:each="dayoff : ${daysoff}">
				<tr>
					<td th:text="${dayoff.id}"></td>
					<td th:text="${dayoff.date}"></td>
					<td th:text="${dayoff.isApproved ? 'Approved' : 'Not Approved'}"></td>
					<td th:text="${dayoff.isConsumed ? 'Consumed' : 'Not Consumed'}"></td>
					<td>
						<form th:if="${dayoff.isConsumed == false}" th:action="@{/delete-dayoff}" method="post" style="display:inline;">
							<input type="hidden" name="id" th:value="${dayoff.id}" />
							<button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="~{common/footer :: footer}"></div>
	<script th:src="@{/js/daysoff-submitted.js}"></script>
	<script th:src="@{/js/logout-jwt.js}"></script>
</body>

</html>